@import "../../styles/utility";
.forecast-container {
  @include centered-container;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  order: 2;
  .day-container {
    @include centered-container;
    background-color: $secondary-color;
    border-radius: 12px;
    padding: 8px 0px;
    .day-name {
      font-size: 1em;
      color: $primary-color;
      font-weight: 500;
    }
    .day-temp {
      font-size: 1em;
      color: $primary-color;
      font-weight: 500;
    }
  }
}
