//Dichiarazione Variabili
$bg-color: #f0f8ff;
$deep-blue: #3894f7;
$deep-orange: #ffa31c;
$light-text-color: white;
$dark-text-color: black;

//classi placeholder
%centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

%inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
%inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

%inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

%container-style {
  padding: 0.8em;
  width: 100%;
  height: fit-content;
  border-radius: 12px;
}

//classi condivise
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: $bg-color;
}
p {
  @extend %inter-regular;
}
h1 {
  @extend %inter-black;
}
h2 {
  @extend %inter-bold;
  align-self: flex-start;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "forecast forecast sidebar"
    "hourly hourly sidebar"
    "aqi aqi sidebar";
  gap: 2em;
  margin: 2em;
  place-content: center;
  place-items: center;
}

@media screen and (max-width: 798px) {
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin: auto;
  }
  body {
    margin: auto;
  }
}
