@import "../../styles/utility";

.form {
  @include centered-container;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  background-color: lighten($primary-color, $amount: 12);
  border-radius: 6px;

  .input-text {
    @include centered-container;
    color: $secondary-color;
    height: 100%;
    border-radius: inherit;
    padding: 0.2em;
    background-color: inherit;
    border: none;
    outline: none;
    &::placeholder {
      color: white;
      opacity: 80%;
    }
  }
}
