@import "../../styles/utility";

.form {
  @extend %centered-container;
  background-color: white;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
  border-radius: 12px;
  .input-text {
    width: 100%;
    padding: 0.5em;
    border: 2px solid $deep-blue;
    outline: none;
    border-radius: 8px;
    background-color: $bg-color;
    color: $deep-blue;
  }
}
