@import "../../styles/utility";
.general-weather-container {
  @extend %centered-container;
  justify-content: stretch;
  background-color: white;
  width: 100%;
  height: 100%;

  .current-weather-container {
    @extend %centered-container;
    @extend %container-style;
    justify-content: stretch;
    background-color: $deep-blue;
    height: 100%;
    color: $light-text-color;
    font-size: 1em;

    img {
      width: 80%;
      height: auto;
      object-fit: cover;
      margin-bottom: 0;
    }
    .temp {
      @extend %inter-bold;
      font-size: 2em;
      color: $light-text-color;
      margin-bottom: 0.5em;
      align-self: center;
    }
    .today {
      color: $light-text-color;
      font-size: 1em;
      margin-bottom: 1em;
      align-self: center;
    }
  }
  .secondary-info {
    .day-phases-container {
      @extend %centered-container;
      @extend %container-style;
      background: $deep-orange;
      margin-top: 12px;
      gap: 1em;
      color: $light-text-color;
    }

    .other-info {
      @extend %centered-container;
      @extend %container-style;
      background: $deep-blue;
      margin-top: 12px;
      gap: 1em;
      color: $light-text-color;
    }
  }
}

@media screen and (max-width: 798px) {
  .general-weather-container {
    flex-direction: row;
    gap: 1em;
    flex-grow: 2;
    .secondary-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      justify-items: stretch;
      align-items: center;
      height: 100%;
      .day-phases-container {
        flex: 1;
      }
      .other-info {
        flex: 1;
      }
    }
  }
}
