@import "../../styles/utility";

.current-weather-container {
  @extend %centered-container;
  @extend %container-style;
  background-color: $deep-blue;
  img {
    width: 80%;
    height: auto;
    object-fit: cover;
  }
  .temp {
    @extend %inter-bold;
    font-size: 2em;
  }
}
.today {
  grid-area: day;
}

.day-phases-container {
  @extend %centered-container;
  @extend %container-style;
  background: $deep-orange;
  margin-top: 12px;
}

.other-info {
  @extend %centered-container;
  @extend %container-style;
  background: $deep-blue;
  margin-top: 12px;
}
