@import "../../styles/utility";

.aqi-general-container {
  @extend %centered-container;
  @extend %container-style;
  width: 100%;
  grid-area: aqi;
  background-color: white;
  .aqi-container {
    @extend %centered-container;
    @extend %container-style;
    margin-top: 1em;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.8em;

    .comp-container {
      @extend %centered-container;
      @extend %container-style;
      gap: 1em;
      width: 5em;
      height: auto;
    }
  }
}
