@import "../../styles/utility";

.aqi-general-container {
  @extend %centered-container;
  @extend %container-style;
  grid-area: aqi;
  background-color: white;
  .aqi-container {
    @extend %centered-container;
    @extend %container-style;
    margin-top: 1em;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.8em;

    .comp-container {
      @extend %centered-container;
      @extend %container-style;
      gap: 0.8em;
      width: 4em;
      height: auto;
      .comp-amount {
        font-size: 1.2em;
        font-weight: 500;
      }
    }
  }
}
